extends layout

block content
    .content-container.catalog-container 
        h1= title

        .game-list-container
            each game in game_list
                .game-list-game
                        a(href=game.url)
                        img(src='/images/'+game.img_name, alt='')
                        h2 #{game.name}
                        p Price: #{game.price}$
                        p Stock: #{game.number_in_stock}


        a(href='/catalog/create') New game ? Add it here